div.paginator p, div.paginator ul.pagination {
	line-height: 1.2em;
}
div.paginator p {
	text-align: left;
	margin-bottom: 0;
}

table.results_set {
	 border-collapse: collapse;
}
table.results_set thead th.actions {
	text-align: center;
}
/*table.results_set thead th.actions {
	max-width: 3em;
	background: yellow;
}
table.results_set tbody td.action {
	max-width: 3em;
	background: yellow;
}*/
table.results_set tbody td.data.datetime {
	white-space: pre;
}
table.results_set tbody td.data.integer {
	text-align: right;
}

table.results_set tbody td.action a {
	display: block;
	background-repeat: no-repeat;
	background-position: 0 50%;
	padding-left: 20px;
}
table.results_set tbody td.action.view a {
	background-image: url(../img/famfamfam_silk_icons/zoom.png);
}
table.results_set tbody td.action.edit a {
	background-image: url(../img/famfamfam_silk_icons/pencil.png);
}
table.results_set tbody td.action.delete a {
	background-image: url(../img/famfamfam_silk_icons/delete.png);
}